{% extends 'base.html' %}
{% load static %}

{% block css %}
{% include 'PetriNET/leaflet/includes/css_includes.html' %}
{% endblock %}

{% block js %}
{% include 'PetriNET/leaflet/includes/js_includes.html' %}
{% endblock %}

{% block body %}
<div id="map">
</div>

{% include 'PetriNET/leaflet/includes/panels/left_panel.html' %}
{% include 'PetriNET/leaflet/includes/panels/bottom_panel.html' %}

{% include 'PetriNET/leaflet/includes/modals/choice_route_modal.html' %}
{% include 'PetriNET/leaflet/includes/modals/choice_route_for_calculate_modal.html' %}
{% include 'PetriNET/leaflet/includes/modals/analysis_calculation_results_modal.html' %}

{% endblock %}

{% block endjs %}
{% include 'PetriNET/leaflet/includes/js/variables_and_map_init.html' %}
{% include 'PetriNET/leaflet/includes/js/utils.html' %}
{% include 'PetriNET/leaflet/includes/js/bus_stops.html' %}
{% include 'PetriNET/leaflet/includes/js/routes.html' %}
{% include 'PetriNET/leaflet/includes/js/districts.html' %}
{% include 'PetriNET/leaflet/includes/js/city_management.html' %}
{% include 'PetriNET/leaflet/includes/js/calculations.html' %}
{% include 'PetriNET/leaflet/includes/js/simulation.html' %}
{% include 'PetriNET/leaflet/includes/js/simulation_animation.html' %}
{% include 'PetriNET/leaflet/includes/js/ui_handlers.html' %}
{% endblock %}
