{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{{ citys|json_script:"citys_json" }}
{% endblock %}

{% block body %}
<div id="map">
    <div class="left-panel">
        <div class="container-fluid d-flex h-100 justify-content-center align-items-center">
            <div class="row shadow-sm">
                <div class="dropdown mb-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выберите город
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if citys %}
                        {% for city in citys %}
                        <button class="dropdown-item" onclick="ChoiceCity({{city.id}})">{{city.name}}</button>
                        {% endfor %}
                        {% else %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Добавить</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card bg-transparent border-primary w-100 mb-3">
                    <div class="card-header bg-light">
                        Остановки
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="BusStopName" placeholder="Название остановки"
                                aria-label="Название остановки" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button id="BusStopAdd" class="btn btn-primary" type="button">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent border-primary w-100 mb-3">
                    <div class="card-header bg-light">
                        Маршруты
                    </div>
                    <div class="card-body text-center">
                        <div class="input-group mb-3">
                            <div class="btn-group">
                                <button class="btn btn-primary" id="RouteAll" type="button"
                                    onclick="ShowAllRoutes()">Показать все</button>
                                <button class="btn btn-primary" id="RouteOne" type="button">Выбрать один</button>
                            </div>
                            <div class="input-group-append">
                                <button id="RouteAdd" class="btn btn-primary" type="button">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="ChoiceRoute" tabindex="-1" aria-labelledby="ChoiceRouteTitle" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ChoiceRouteTitle">Выберите маршрут</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block endjs %}
<script>
    let ActionOnClick = ""
    let TempMarker
    let TempRoute
    let TempRouteList = []
    let CurrentCity
    let Routes = []

    var map = L.map('map', { attributionControl: false }).setView([51.7727, 55.0988], 4);
    L.control.attribution({ prefix: 'Маршрутно-транспортные сети' }).addTo(map);

    // Карты
    var lyrOSM = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    var lyrEsriImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}');

    // Поверхности объектов
    let BusStops = L.layerGroup().addTo(map);
    let CitysLayer = L.layerGroup().addTo(map);
    let RouteLayer = L.layerGroup().addTo(map);

    // Настройки карты в правом окне
    let Maps = {
        "OpenStreetMap": lyrOSM,
        "ESRI World Imagery": lyrEsriImagery
    };
    let hide_view_groups = {
        "Города": CitysLayer,
        "Остановки": BusStops,
        "Маршруты": RouteLayer,
    }
    L.control.layers(Maps, hide_view_groups, { collapsed: false }).addTo(map);

    // Разбор данных городов
    let citys = JSON.parse(document.getElementById('citys_json').textContent)
    citys.forEach(city => {
        let city_style = {
            radius: 5,
            fillOpacity: 0.5,
            color: 'black',
        };
        CitysLayer.addLayer(L.circleMarker([city.latitude, city.longitude], city_style)
            .bindPopup(`<a href="#" onclick="ChoiceCity(${city.id})">${city.name}</a>`).on('dblclick', (event) => {
                ChoiceCity(city.id)
            }));
    });

    // Получение ключа сервера
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Кнопка добавления остановки
    $("#BusStopAdd").click(function () {
        $(this).attr('style', 'background-color: #007bff; border-color: #007bff;');
        if (CurrentCity) {
            let BusStopName = $("#BusStopName").val()
            if (BusStopName) {
                if (ActionOnClick == 'AddTempMarker' && typeof TempMarker !== "undefined" && TempMarker !== null) {
                    $(this).attr('style', 'background-color: #007bff; border-color: #007bff;');
                    $(this).text('+');
                    const csrftoken = getCookie('csrftoken');
                    $.ajax({
                        url: '{% url "PetriNET:ajax_bs_add" %}',
                        method: 'post',
                        dataType: 'html',
                        headers: { 'X-CSRFToken': csrftoken },
                        data: {
                            name: BusStopName,
                            lat: TempMarker.getLatLng().lat,
                            lng: TempMarker.getLatLng().lng,
                            city_id: CurrentCity.id,
                        },
                        success: function (data) {
                            if (JSON.parse(data).error == 0) {
                                CreateBS(TempMarker.getLatLng(), `<a href="{% url 'admin:index' %}PetriNET/busstop/${JSON.parse(data).BusStop.id}/change/"><p>${BusStopName}</p></a>`);
                                CloseAllAction();
                            }
                            else {
                                CloseAllAction();
                                alert("Ошибка добавления остановки\nОтвет сервера: " + JSON.parse(data).error + ' ' + JSON.parse(data).error_messgae)
                            }
                        },
                        error: function (jqXHR, exception) {
                            CloseAllAction();
                            alert(`Ошибка сервера\nСтатус: ${jqXHR.status}\nИсключение: ${exception}`)
                        }
                    });
                    return
                };
                if (ActionOnClick == 'AddTempMarker') {
                    CloseAllAction();
                    return
                }
                $(this).attr('style', 'background-color: #dc3545; border-color: #dc3545;');
                $(this).text('x');
                ActionOnClick = 'AddTempMarker'
            }
            else {
                alert('Введите название остановки!');
            }
        }
        else {
            alert('Выберите город');
        }
    });

    function ClickOnBS(BS) {
        latlng = [BS.latlng.lat, BS.latlng.lng]
        if (ActionOnClick == 'AddTempRoute') {
            BS.target.closePopup();
            let include = -1
            TempRouteList.forEach((value, i) => {
                if (value[0] == latlng[0] && value[1] == latlng[1]) {
                    include = i
                }
            })
            if (include >= 0) {
                TempRouteList.splice(include, 1);
            }
            else {
                TempRouteList.push(latlng)
            }
            if (TempRouteList.length <= 1) {
                $("#RouteAdd").attr('style', 'background-color: #dc3545; border-color: #dc3545;');
                $("#RouteAdd").text('x');
                if (TempRoute) {
                    TempRoute.remove()
                    TempRoute = null;
                }
            }
            if (TempRoute && TempRouteList.length <= 1) {
                TempRoute.remove()
                TempRoute = null;
            }
            if (TempRoute && TempRouteList.length > 1) {
                TempRoute.setLatLngs(TempRouteList);
            }
            if (TempRouteList.length > 1 && (typeof TempRoute == "undefined" || TempRoute == null)) {
                TempRoute = L.polyline(TempRouteList, {
                    color: arrayRandElement(ListColour),
                    weight: 6,
                    fillOpacity: 0.2,
                }).addTo(map);
            }
            if (TempRouteList.length > 1) {
                $("#RouteAdd").attr('style', '    background-color: #28a745; border-color: #28a745;');
                $("#RouteAdd").text('✓');
            }
        }
    }

    // Кнопка добавления маршрута
    $("#RouteAdd").click(function () {
        $(this).attr('style', 'background-color: #007bff; border-color: #007bff;');
        if (CurrentCity) {
            if (ActionOnClick == 'AddTempRoute' && typeof TempRoute !== "undefined" && TempRoute !== null) {
                $(this).attr('style', 'background-color: #007bff; border-color: #007bff;');
                $(this).text('+');
                const csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: '{% url "PetriNET:ajax_route_add" %}',
                    method: 'post',
                    dataType: 'html',
                    headers: { 'X-CSRFToken': csrftoken },
                    data: {
                        list_coord: JSON.stringify(TempRouteList),
                        name: "Изменить название маршрута",
                        city_id: CurrentCity.id,
                    },
                    success: function (data) {
                        if (JSON.parse(data).error == 0) {
                            CreateRoute(JSON.parse(data).Route.list_coord, JSON.parse(data).Route.id, JSON.parse(data).Route.name)
                            $("#RouteAll").click();
                        }
                        else {
                            alert("Ошибка добавления маршрута\nОтвет сервера: " + JSON.parse(data).error + ' ' + JSON.parse(data).error_messgae)
                        }
                    },
                    error: function (jqXHR, exception) {
                        alert(`Ошибка сервера\nСтатус: ${jqXHR.status}\nИсключение: ${exception}`)
                    }
                })
                CloseAllAction();
                return
            };
            if (ActionOnClick == 'AddTempRoute') {
                CloseAllAction();
                return
            }
            RouteLayer.clearLayers();
            $(this).attr('style', 'background-color: #dc3545; border-color: #dc3545;');
            $(this).text('x');
            ActionOnClick = 'AddTempRoute'
        }
        else {
            alert('Выберите город');
        }
    });

    function ShowAllRoutes() {
        if (CurrentCity) {
            RouteLayer.clearLayers();
            Routes.forEach(route => {
                DrawRoute(route)
            })
        }
        else {
            alert('Выберите город');
        }
    }

    // Отображение модального окна выбора маршрута
    $("#RouteOne").click(function () {
        if (CurrentCity) {
            let modal = $("#ChoiceRoute")
            let body = modal.find(".modal-body")
            if (Routes.length > 0) {
                body.html(`
            <div class="d-flex justify-content-center flex-wrap bd-highlight">
            `)
                Routes.forEach((route, index) => {
                    body.append(`<div type="button" class="btn btn-primary bd-highlight mb-3 mr-3" onclick="ChoiceOneRoute(${route.id})">${index + 1}: ${route.name}</div>`)// <button type="button" class="btn btn-primary" onclick="ChoiceOneRoute(${route.id})">${route.name}</button></div>`)
                })
                body.append(`
            </div>
            `)
            }
            else {
                body.html('<p>Маршрутов нет</p>')
            }
            modal.modal('show')
        }
        else {
            alert('Выберите город');
        }
    })

    // Отображение одного маршрута
    function ChoiceOneRoute(id) {
        if (CurrentCity) {
            route = Routes.find(route => route.id == id)
            if (route) {
                RouteLayer.clearLayers();
                DrawRoute(route);
                $("#ChoiceRoute").modal('hide');
            }
            else {
                alert("Маршрут не найден!")
            }
        }
        else {
            alert('Выберите город');
        }
    }

    // Добавление остановки в группу остановок на карту
    function CreateBS(latlng, popup) {
        BusStops.addLayer(L.marker(latlng, { alt: "Остановка" }).bindPopup(popup).on('click', ClickOnBS))
    }

    // Добавление маршрута в список
    function CreateRoute(list_coord, id, name) {
        Routes.push({
            "list_coord": list_coord,
            "id": id,
            "name": name
        })
    }

    // Добавление маршрутов в группу маршрутов на карту
    function DrawRoute(route) {
        RouteLayer.addLayer(L.polyline(route.list_coord, {
            color: arrayRandElement(ListColour),
            weight: 6,
            fillOpacity: 0.2,
        }).bindPopup(`<a href="{% url 'admin:index' %}PetriNET/route/${route.id}/change/"><p>${route.name}</p></a>`));
    }

    function CloseAllAction() {
        if (TempRoute) {
            TempRoute.remove();
        }
        TempRoute = null;
        TempRouteList = [];
        ActionOnClick = "";
        $("#RouteAdd").attr('style', 'background-color: #007bff; border-color: #007bff;');
        $("#RouteAdd").text('+');
        if (TempMarker) {
            TempMarker.remove();
        }
        TempMarker = null;
        ActionOnClick = "";
        $("#BusStopName").val('');
        $("#BusStopAdd").attr('style', 'background-color: #007bff; border-color: #007bff;');
        $("#BusStopAdd").text('+');
    }

    function ChoiceCity(id) {
        let CityID = id
        let City = citys.find(el => el.id == CityID)
        let CityCircle = CitysLayer.getLayers().find(layer => layer.getLatLng().lat == City.latitude && layer.getLatLng().lng == City.longitude)
        CityCircle.closePopup();
        map.setView([City.latitude, City.longitude], 12);
        if (CurrentCity !== City) {
            CloseAllAction();
            BusStops.clearLayers();
            RouteLayer.clearLayers();
            Routes = [];
            CurrentCity = City;
            $("#dropdownMenuButton").text(City.name);
            const csrftoken = getCookie('csrftoken');
            $.ajax({
                url: '{% url "PetriNET:ajax_city_data_get" %}',
                method: 'post',
                dataType: 'html',
                headers: { 'X-CSRFToken': csrftoken },
                data: {
                    city_id: CurrentCity.id,
                },
                success: function (data) {
                    JSON.parse(data).BSList.forEach(BS => {
                        CreateBS([BS.latitude, BS.longitude], `<a href="{% url 'admin:index' %}PetriNET/busstop/${BS.id}/change/"><p>${BS.name}</p></a>`);
                    });
                    JSON.parse(data).RouteList.forEach(Route => {
                        CreateRoute(Route.list_coord, Route.id, Route.name)
                    });
                    $("#RouteAll").click();
                }
            });
        }
    }

    map.on('dblclick', (event) => {
        if (ActionOnClick == 'AddTempMarker') {
            if (TempMarker) {
                TempMarker.remove()
            }
            TempMarker = L.marker([event.latlng.lat, event.latlng.lng], { opacity: 0.5, draggable: true }).addTo(map).on('click', (event) => {
                CloseAllAction();
            })
            $("#BusStopAdd").attr('style', '    background-color: #28a745; border-color: #28a745;');
            $("#BusStopAdd").text('✓');
        }
    })

    ListColour = [
        "#800080", "#FF0000", "#FFFF00", "#008000", "#0000FF", "#9400D3"
    ]
    function arrayRandElement(arr) {
        var rand = Math.floor(Math.random() * arr.length);
        return arr[rand];
    }
</script>
{% endblock %}