{% load static %}

<!DOCTYPE html>
<html lang="ru">
    {% block head %}
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>
                {% block title %}
                    {% if title %}
                        {{ title|title }}
                    {% else %}
                    Маршрутно-транспортные сети
                    {% endif %}
                {% endblock %}
            </title>

            {% block css %}
                <link rel="stylesheet" href="{% static 'css/index.css' %}">
            {% endblock %}

            {% block js %}
            {% endblock %}

        </head>
    {% endblock %}

    {% block body %}
        <body>
            {% block content %}
            {% endblock %}
        </body>
    {% endblock %}

    {% block endjs %}
    {% endblock %}
</html>