{% load static %}
<div id="left-panel" class="container d-flex align-items-center">
    <div id="left-function-panel" class="row shadow-sm">
        <div class="mb-3 d-flex">
            <div class="dropdown flex-grow-1">
                <select class="selectpicker" title="Выберите город" data-style="btn-primary" data-live-search="true" id="dropdownMenuButton" onchange="ChangeCityOnSelect(this)">
                    {% if citys %}
                    {% for city in citys %}
                    <option value="{{city.id}}">{{city.name}}</option>
                    {% endfor %}
                    {% else %}
                    <option value="0">Добавить</option>
                    {% endif %}
                </select>
            </div>
            <button class="btn btn-primary ml-2" type="button" onclick="UpdateCityData()" title="Обновить данные города">
                <i class="fas fa-sync-alt"></i>
            </button>
        </div>
        <div class="card bg-transparent border-primary w-100 mb-3">
            <div class="card-header bg-light">
                Остановки
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="BusStopName" placeholder="Название остановки"
                        aria-label="Название остановки" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="BusStopAdd" class="btn btn-primary" type="button" title="Двойной клик по карте, удержание для переноса">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-transparent border-primary w-100 mb-3">
            <div class="card-header bg-light">
                Маршруты
            </div>
            <div class="card-body text-center">
                    <div class="btn-group d-flex mb-3">
                        <button class="btn btn-primary w-100" id="RouteAll" type="button" onclick="ShowAllRoutes()">Показать
                            все</button>
                        <button class="btn btn-primary partition w-100" id="RouteOne" type="button">Выбрать один</button>
                        <button id="RouteAdd" class="btn btn-primary partition" type="button">+</button>
                    </div>
            </div>
        </div>
        <div class="card bg-transparent border-primary w-100 mb-3">
            <div class="card-header bg-light">
                Расчёт нагрузки
            </div>
            <div class="card-body text-center">
                <input id="FilePetri" type="file" style="display: none;" onchange="PetriFileProcess(this.files)" onclick="this.value = null;" />
                <button class="btn btn-primary mb-3 btn-block" id="FilePetriButton" type="button">Из <a
                        href="{% static 'petri_example.json' %}" title="Скачать пример файла" download=""
                        class="text-white" onclick="event.stopPropagation();">файла</a></button>
                <div class="btn-group d-flex mb-3">
                    <div type="button" class="btn btn-primary bd-highlight w-100" onclick="RoutesChoose()">Выбрать
                        маршруты
                    </div>
                    <button type="button" class="btn btn-primary partition" onclick="DownloadDataToCalculate()"
                    title="Скачать сформированный файл"><i class="fas fa-floppy-disk"></i></button>
                    <div type="button" class="btn btn-danger bd-highlight partition" onclick="Reset()">Сброс</div>
                </div>
                <div type="button" class="btn btn-success bd-highlight mb-3 mr-3 btn-block" onclick="Сalculation()">
                    Расчёт
                </div>
            </div>
        </div>
    </div>
</div>
