<script>
// Функции для работы с маршрутами

// Добавление маршрута в список
function CreateRoute(list_coord, list_coord_to_render, id, name) {
    Routes.push({
        "list_coord": list_coord,
        "list_coord_to_render": list_coord_to_render,
        "id": id,
        "name": name
    })
}

// Добавление маршрутов в группу маршрутов на карту
function DrawRoute(route, use_list_coord_to_render = true) {
    RouteLayer.addLayer(L.polyline(use_list_coord_to_render ? route.list_coord_to_render : route.list_coord, {
        // color: arrayRandElement(ListColor),
        weight: 3,
        fillOpacity: 0.2,
    }).bindPopup(`<a href="{% url 'admin:index' %}PetriNET/route/${route.id}/change/"><p>${route.name}</p></a>`));
}

// Добавление маршрутов в группу маршрутов на карту с пунктирной полупрозрачной линией
function DrawDashedRoute(route, use_list_coord_to_render = true) {
    RouteLayer.addLayer(L.polyline(use_list_coord_to_render ? route.list_coord_to_render : route.list_coord, {
        weight: 3,
        opacity: 0.8,
        fillOpacity: 0.2,
        dashArray: '10, 10'
    }).bindPopup(`<a href="{% url 'admin:index' %}PetriNET/route/${route.id}/change/"><p>${route.name}</p></a><span>По этим остановочным пунктам будет двигаться маршрут</span>`));
}

// Показать все маршруты
function ShowAllRoutes() {
    if (!CityExists(alert_if_not=false)) {
        return
    }
    RouteLayer.clearLayers();
    Routes.forEach(route => {
        DrawRoute(route)
    })
}

// Отображение одного маршрута
function ChoiceOneRoute(id) {
    if (!CityExists()) {
        return
    }
    route = Routes.find(route => route.id == id)
    if (route) {
        RouteLayer.clearLayers();
        DrawRoute(route);
        DrawDashedRoute(route, false);
        $("#ChoiceRoute").modal('hide');
    }
    else {
        alert("Маршрут не найден!")
    }
}

// Функция обработки нажатия кнопок маршрутов
function RouteCheck(id) {
    btn = $('#RouteCheckbox' + id)
    route = Routes.find(route => route.id == id)
    if (!route) {
        alert("Маршрут не найден!")
        return
    }
    if (!btn.hasClass('active')) {
        RoutesForCalculate.push(route)
    }
    else {
        let include = -1
        RoutesForCalculate.forEach((item, index) => {
            if (item.id == id) {
                include = index
            }
        })
        if (include >= 0) {
            RoutesForCalculate.splice(include, 1);
        }
    }
    DrawRoutsForCalculate()
}

function DrawRoutsForCalculate() {
    if (RoutesForCalculate.length > 0) {
        RouteLayer.clearLayers();
        RoutesForCalculate.forEach((route, index) => {
            DrawRoute(route);
            DrawDashedRoute(route, false);
        })
    }
    else {
        ShowAllRoutes()
    }
}
</script>
