#map { 
    width: 100vw;
    height: 100vh;
    position: relative;
}

#left-panel{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 900;
    margin: 10px 0 20px 55px;
}